body {
  /*font-family: "Montserrat" !important;
  font-weight: 500 !important;*/
}
.image-container {
  position: relative;
}

.review {
  position: absolute;
  bottom: -20px;
  left: 0;
  right: 0;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-overlay {
  background-color: #fff;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-overlay.hidden {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 25px;
}

.btn-close {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  color: #6c757d;
  font-size: 24px;

  transition: color 0.3s ease;
}

.btn-close:hover {
  color: #000;
}

.modal-body {
  padding: 24px 0;
  text-align: center;
  margin: auto;
}

.modal-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 12px;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.confirm-button {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 24px;
  padding: 12px 32px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #45a049;
}
